{{#each items}}
<li class="todo__item">
    <div class="todo__name">{{name}}</div>
    <button class="btn todo__edit-btn">Edit</button>
    <button class="btn todo__delete-btn">Delete</button>
</li>
{{/each}}