{{#each items}}
<li class="todo__item" data-id="{{id}}">
    <div class="todo__name">{{name}}</div>
    <input type="text" class="todo__input hidden">
    <button class="btn todo__edit-btn js-edit-btn" data-id="{{id}}">Edit</button>
    <button class="btn todo__save-btn hidden js-save-btn" data-id="{{id}}">Save</button>
    <button class="btn todo__delete-btn js-delete-btn" id="delete">Delete</button>
</li>
{{/each}}