@import './normolize.scss';
@import './setings.scss';


.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

.todo {
    width: 500px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    
}


.todo__title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8663;
    font-size: 30px;
}

.todo__control {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.todo-input {
    width: 60%;
    border: none;
    height: 30px;
    border-radius: 5px;
    color: #a6a6a6;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 15px;
    margin-bottom: 20px;
}

.input__btn {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.todo__list {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 25px;
}

.todo__item {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 3px;
    .todo__save-btn {
        display: none;
    }

    .todo__input {
        display: none;
    }
}

.todo__item.todo__item_mode_edit {
    .todo__save-btn {
        display: block;
    }

    .todo__input {
        display: block;
    }

    .todo__edit-btn {
        display: none;
    }

    .todo__name {
        display: none;
    }
}

.todo__name {
    margin-right: auto;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}

.todo__input {
    margin-right: auto;
    margin-left: 10px;
}

.todo__data-control {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #ff8663;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    color: #ffffff;
    width: 65px;
    height: 25px;
    text-transform: uppercase;
    transition: .5s;
    
    &:hover {
        cursor: pointer;
        background-color: #e57050;
    }
}

.todo__edit-btn, .todo__delete-btn, .todo__save-btn {
    margin-right: 10px;
    
}



.todo__save-btn {
    margin-right: 10px;
}

.hidden {
    display: none;
}

